page-user-registration {

    ion-content{
        background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
      }
    
  .data  ion-input{
      border: 1px solid;
      border-radius: 4px;
      background-color:white; 
      max-height: 2.5em;
    }

    .selection{
      border: 1px solid;
      border-radius: 4px;
      background-color:white; 
      max-height: 2.5em;
      min-width: 100%;
    }
    
    .login{
    //   margin-top: 5em;
      height: 100%;
    }
    
    .label{
        margin-bottom: 0.8em;
        margin-top: 0.8em;
    }
    
    ion-icon{
      font-size: 9em;
    }
    
    .login-button{
      min-width: 100%;
      margin-top: 1.18em;
    }


}
