page-mechanic-complain-details {

    ion-content{
        background-image: url('../assets/imgs/kaizel_bg.jpg');
        background-repeat: no-repeat;
        background-size:cover;
    }

    ion-card,ion-item{
        background: none !important;
    }
}
