<!--
  Generated template for the MechanicComplainDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Manage Complaint</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card  *ngIf="complainStatus" class="details-card">

    <ion-item text-wrap>
      <ion-avatar item-end>
        <img [src]="complainStatus?.attachment?url+complainStatus?.attachment:'assets/imgs/lift-home.png'">
        </ion-avatar>
        <h2>Complain Id : {{complainStatus.complainId}}</h2>
      </ion-item>

  
    <ion-item text-wrap>
      <ion-icon name="calendar" item-start large></ion-icon>
      <h2>Registered On</h2>
      <p>{{complainStatus.registrationDate}}</p>
    </ion-item>
  
    <ion-item text-wrap>
      <ion-icon name="paper" item-start large ></ion-icon>
      <h2>Complain Description</h2>
      <p>{{complainStatus.description}}</p>
    </ion-item>
  

    <ion-item text-wrap>
        <ion-icon name="calendar" item-start large ></ion-icon>
        <h2>Break Down Date</h2>
        <p>{{complainStatus.breakDownFrom}}</p>
      </ion-item>

      <ion-item text-wrap>
        <ion-icon name="cube"  item-start large></ion-icon>
          <h2>Category</h2>
          <p>{{complainStatus.categoryName}}</p>
        </ion-item>
  
  
        <ion-item text-wrap>
          <ion-icon name="logo-buffer" item-start large></ion-icon>
          <h2>Product </h2>
          <p>{{complainStatus.productName}}</p>
        </ion-item>


      <ion-item text-wrap>
          <ion-icon name="stats" item-start large ></ion-icon>
          <h2>Complain Status</h2>
          <p>{{complainStatus.status}}</p>
        </ion-item>

        <ion-item text-wrap >
            <ion-icon name="construct" item-start large ></ion-icon>
            <h2>Customer Name</h2>
            <p>{{complainStatus.customerDetails.firstName +' '+complainStatus.customerDetails.lastName }}</p>
       </ion-item>  

       <ion-item text-wrap *ngIf="complainStatus.resolvedDate">
          <ion-icon name="calendar" item-start large ></ion-icon>
          <h2>Resolved Date</h2>
          <p>{{complainStatus.resolvedDate}}</p>
     </ion-item> 

     <ion-item text-wrap *ngIf="complainStatus.amountCharged !=null">
        <ion-icon name="card" item-start large ></ion-icon>
        <h2>Amount Charged</h2>
        <p>{{complainStatus.amountCharged}}</p>
   </ion-item> 

    <ion-item text-wrap *ngIf="complainStatus.remarksByMechanic">
        <ion-icon name="quote" item-start large ></ion-icon>
        <h2>Remark By Mechanic</h2>
        <p>{{complainStatus.remarksByMechanic}}</p>
   </ion-item> 

<ion-item  text-wrap *ngIf="complainStatus.status==inProgressStatus || complainStatus.status ==deferredStatus">
    <ion-label  stacked>Amount Charged</ion-label>
    <ion-input type="tel" [(ngModel)]="amount"></ion-input>
  </ion-item>

  <ion-item  text-wrap *ngIf="complainStatus.status==inProgressStatus || complainStatus.status ==deferredStatus">
      <ion-label  stacked>Remark</ion-label>
      <ion-textarea type="textarea" [(ngModel)]="remark"></ion-textarea>
    </ion-item>



    <ion-item text-wrap *ngIf="complainStatus.customerContactNumber">
        <button ion-button icon-start clear item-start>
            <ion-icon name="chatboxes"></ion-icon>
            Message 
          </button>

      <button ion-button icon-start clear item-end (click)="callCustomer()">
        <ion-icon name="call"></ion-icon>
        Contact Customer
      </button>
    </ion-item>
  
  </ion-card>

  <div #directionsPanel></div>
  <div #map id="map"></div>  
</ion-content>

<ion-footer *ngIf="complainStatus && complainStatus.status != resolvedStatus">

  <ion-row>

    <ion-col col-12  *ngIf="complainStatus.status==assignedStatus">
        <button ion-button block class="footer_button" color="outForResoultion" (click)="outForResoultionSelect()">Out For Resolution</button>  
    </ion-col>

    <ion-col col-12  *ngIf="complainStatus.status==outForResoultion">
        <button ion-button block class="footer_button" (click)="inProgressStatusSelect()">In Progress</button>  
    </ion-col>


    <ion-col col-6  *ngIf="complainStatus.status==inProgressStatus || complainStatus.status ==deferredStatus">
        <button ion-button block class="footer_button" (click)="deferredStatusSelect()">Deferred</button>  
    </ion-col>


    <ion-col col-6  *ngIf="complainStatus.status==inProgressStatus || complainStatus.status == deferredStatus">
        <button ion-button block class="footer_button" (click)="resolvedStatusSelect()">Resolved</button>  
    </ion-col>

  </ion-row>

</ion-footer>
