page-home {

    ion-content{
        background-image: url('../assets/imgs/login_bg.png');
        background-repeat: no-repeat;
        background-size:cover;
    }
    .icon-cirlce{
        width: 9em;
        height: 9em;
        border: 3px solid #313344;
        background-color: #fff;
    }

    .card-content{
        background:linear-gradient(241deg, #f3cea7 10%, #d2a060 60%, #d1a466 75%) !important;
      }
      

    .icon-big{
       font-size:6em;
       padding: 23px 0px 0px 25px;
    }
    
    .text-centre{
      font-size:2em;
      text-align: center;
    }

    @media (min-width:960px)   {
        
        .icon-cirlce{
            width: 9em;
            height: 9em;
            border-radius: 50%;
            border: 3px solid #313344;
            background-color: #fff;
            margin-left: 10em;
        }
    }
    
    @media (min-width:768px)   {
        
        .icon-cirlce{
            width: 9em;
            height: 9em;
            border-radius: 50%;
            border: 3px solid #313344;
            background-color: #fff;
            margin-left: 7em;
        }
}


@media (min-width:1280px)   {
        
    .icon-cirlce{
        width: 9em;
        height: 9em;
        border-radius: 50%;
        border: 3px solid #313344;
        background-color: #fff;
        margin-left: 14.5em;
    }
}

.swiper-slide img {
    width:100% !important;
    height: auto;
    max-height: 100%;
}

.bold{
    font-size: 20px;
    font-weight: bolder;
}

p{
    border-color: rgba(0,0,0,0.1);
    border-top: thin solid;
    border-collapse: separate;
  border-spacing: 15px;
    font-size: 1.8rem !important;
    color: #333 !important;
}


}
