<ion-header>
    <ion-navbar color="primary">
     <ion-title>Reset Password</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding >
  

        <ion-grid>
  
            <ion-list>

        <ion-item>
            <ion-label  stacked>Email Id</ion-label>
            <ion-input type="text" [(ngModel)]="resetPassword.emailId" [disabled]="otpSent"></ion-input>
          </ion-item>
</ion-list>

</ion-grid>


      <ion-grid>
  
  <ion-list *ngIf="otpSent">
    <ion-item>
      <ion-label  stacked>OTP</ion-label>
      <ion-input type="password" [(ngModel)]="resetPassword.otp"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label  stacked>New Password</ion-label>
      <ion-input type="password" [(ngModel)]="resetPassword.newPassword"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label  stacked>Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="resetPassword.confirmPassword"></ion-input>
    </ion-item>
  
  </ion-list>
  </ion-grid>
  </ion-content>
  
  
  <ion-footer>
    <button ion-button block (click)="sendOtp()" *ngIf="!otpSent" >Send  Otp</button>

    <button ion-button block (click)="callresetPassword()" *ngIf="otpSent" >Reset Password</button>
  </ion-footer>
  