
<ion-header color="primary">
  <ion-navbar color="primary">
    <ion-title>New Complaint</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-item class="no-border">
    <ion-thumbnail (click)="imageClicked()" item-start>
        <img [src]="complaintSubmissionModel?.image?complaintSubmissionModel?.image:'assets/imgs/photo.png'">
      </ion-thumbnail>
    </ion-item>
<ion-list>
<ion-item>
  <ion-label  stacked>Break Down From</ion-label>
  <ion-datetime [max]="currentDate" display-format="dd/MM/YYYY" picker-format="MMMM DD YYYY"  type="text" readonly [(ngModel)]="complaintSubmissionModel.breakDownFrom">
  </ion-datetime>
  <ion-icon name="calendar"  item-end large></ion-icon>
</ion-item>

<ion-item>
  <ion-label  stacked>Description</ion-label>
  <ion-textarea type="textarea" [(ngModel)]="complaintSubmissionModel.description"></ion-textarea>
</ion-item>


<ion-item>
  <ion-label  stacked>Category</ion-label>
  <ion-select type="text" [(ngModel)]="selectedCategory" interface="popover">
    <ion-option *ngFor="let opt of allProducts" [value]="opt">{{opt.categoryName}}</ion-option>
  </ion-select>
</ion-item>


<ion-item>
  <ion-label  stacked>Product</ion-label>

  <ion-select type="text" [(ngModel)]="complaintSubmissionModel.product" interface="popover">
    <ion-option *ngFor="let opt of selectedCategory?.products" [value]="opt.id">{{opt.productName}}</ion-option>
  </ion-select>

</ion-item>

<ion-item>
  <ion-label  stacked>Adress</ion-label>
  <ion-textarea type="textarea" [(ngModel)]="complaintSubmissionModel.adress"></ion-textarea>
</ion-item>

<ion-item>
  <p>Drop Location</p>
  <div id="map"></div>
</ion-item>

</ion-list>
</ion-grid>


</ion-content>


<ion-footer>
<button ion-button block (click)=registerComplaint()>Register Complaint</button>
</ion-footer>
