page-complain-status {
    ion-content{
        background-image: url('../assets/imgs/kaizel_bg.jpg');
        background-repeat: no-repeat;
        background-size:cover;
    }

    ion-item{
        background: none !important;
        border-bottom:thin solid !important;
    }
}
